{%  extends 'findingJob/main.html' %}
{% block title %} Favourite List{%endblock%}
{% block content %}
{% load static %}

<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Save List</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Save List</li>
                <li class="breadcrumb-item text-white active" aria-current="page">Save List</li>
            </ol>
             <ol class="breadcrumb text-uppercase">
                  <li class="breadcrumb-item text-white active" aria-current="page">
                    <span><a class="btn btn-sm btn-danger" href="{% url 'logout' %}">Logout</a>
                               </span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->


<div class="container-xxl py-5 ">
    <div class="container" id="myBtnContainer">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s"> Saved Job List</h1>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">

            {% for fav_list in fav_list %}
            <div id="tab-2" class="tab-pane fade show p-0 tab-content active parttime">
                <div class="job-item p-4 mb-4">
                    <div class="row g-4">
                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                            <img class="flex-shrink-0 img-fluid border rounded"
                                 src="/img/{{fav_list.company_logo}}" alt="logo"
                                 style="width: 80px; height: 80px;">
                            <div class="text-start ps-4">
                                <h5 class="mb-3">{{ fav_list.title }}</h5>
                                <span class="text-truncate me-3"><i
                                        class="fa fa-map-marker-alt text-primary me-2"></i>{{ fav_list.location }}</span>
                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{ fav_list.type }}</span>
                                <span class="text-truncate me-0"><i
                                        class="far fa-money-bill-alt text-primary me-2"></i>Rs. {{ fav_list.salary }}</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                            <div class="d-flex mb-3">
                                <a class="btn btn-light btn-square me-3" href="{% url 'favourite_add' fav_list.id %}"><i
                                        class="fa fa-trash text-danger"></i></a>
                                <a class="btn btn-primary" href="/jobDetail/{{fav_list.id}}">More</a>
                            </div>
                            <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date
                                Line: {{ fav_list.deadline_date }}</small>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}